# Madness of March
## Jim Haines & Josh McCoy
### [Project Website](https://joshmccoy2.github.io/NCAA_March_Madness/)

## Current Datasets
[Kaggle datasets](https://www.kaggle.com/competitions/mens-march-mania-2022/data)

# ETL & EDA

In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd

# Elo Score

In [2]:
def update_elo(winner_rating, loser_rating):
    K = 20  # Maximum change per game
    expected_win = 1 / (1 + 10 ** ((loser_rating - winner_rating) / 400))
    new_winner_rating = winner_rating + K * (1 - expected_win)
    new_loser_rating = loser_rating - K * (1 - expected_win)
    return new_winner_rating, new_loser_rating


# Adding in Other Kaggle Data to run XG Boost On

In [55]:
detailed_results_data = 'MRegularSeasonDetailedResults.csv'
detailed_results = pd.read_csv(detailed_results_data)
detailed_results

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100418,2022,98,1400,79,1242,76,H,0,28,67,...,13,15,23,5,24,10,15,3,5,21
100419,2022,98,1411,66,1126,63,A,0,24,59,...,21,15,24,5,23,10,19,13,2,23
100420,2022,98,1422,68,1441,49,A,0,23,56,...,24,8,11,10,18,5,16,8,2,12
100421,2022,98,1438,69,1181,68,A,0,31,65,...,17,18,22,11,25,14,14,3,9,11
100422,2022,98,1439,74,1338,47,H,0,29,55,...,20,7,9,0,18,11,11,3,6,14

In [56]:
#Create variable for amount by which winning team wins
# Create variable for amount by which winning team wins
detailed_results['SCOREDIFF'] = detailed_results['WScore'] - detailed_results['LScore']
# Winner stats
detailed_results.dtypes
detailed_results['WFGPCT'] = detailed_results['WFGM']/detailed_results['WFGA']       # field goal pt completion %
detailed_results['W3PCT'] = detailed_results['WFGM3']/detailed_results['WFGA3']      # 3 pt completion %
detailed_results['WFTPCT'] = detailed_results['WFTM']/detailed_results['WFTA']       # free throw completion %
detailed_results['WORBCHANCE'] =  detailed_results['WOR'] + detailed_results['LDR']  # total potential rebounds
detailed_results['WORPCT'] = detailed_results['WOR']/detailed_results['WORBCHANCE']  # rebound completion %
# Losing stats
detailed_results['LFGPCT'] = detailed_results['LFGM']/detailed_results['LFGA']       
detailed_results['L3PCT'] = detailed_results['LFGM3']/detailed_results['LFGA3']
detailed_results['LFTPCT'] = detailed_results['LFTM']/detailed_results['LFTA']
detailed_results['LORBCHANCE'] =  detailed_results['LOR'] + detailed_results['WDR']
detailed_results['LORPCT'] = detailed_results['LOR']/detailed_results['LORBCHANCE']

# Create a new data frame for winning teams
df_winning = detailed_results[['Season', 'DayNum', 'NumOT', 'SCOREDIFF'] + [col for col in detailed_results.columns if col.startswith('W')]].copy()
df_winning['Outcome'] = 1
df_winning['Outcome'] = df_winning['Outcome'].astype(int)


# Create a new data frame for losing teams
df_losing = detailed_results[['Season', 'DayNum', 'NumOT', 'SCOREDIFF'] + [col for col in detailed_results.columns if col.startswith('L')]].copy()
df_losing['Outcome'] = 0
df_losing['Outcome'] = df_losing['Outcome'].astype(int)

df_winning.head()
df_losing

,Season,DayNum,NumOT,SCOREDIFF,LTeamID,LScore,LFGM,LFGA,LFGM3,LFGA3,...,LTO,LStl,LBlk,LPF,LFGPCT,L3PCT,LFTPCT,LORBCHANCE,LORPCT,Outcome
0,2003,10,0,6,1328,62,22,53,2,10,...,18,9,2,20,0.415094,0.200000,0.727273,34,0.294118,0
1,2003,10,0,7,1393,63,24,67,6,24,...,12,8,6,16,0.358209,0.250000,0.450000,48,0.416667,0
2,2003,11,0,12,1437,61,22,73,3,26,...,12,2,5,23,0.301370,0.115385,0.608696,57,0.543860,0
3,2003,11,0,6,1457,50,18,49,6,22,...,19,4,3,23,0.367347,0.272727,0.533333,36,0.472222,0
4,2003,11,0,6,1208,71,24,62,6,16,...,10,7,1,14,0.387097,0.375000,0.629630,43,0.488372,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100418,2022,98,0,3,1242,76,28,48,5,13,...,15,3,5,21,0.583333,0.384615,0.652174,23,0.217391,0
100419,2022,98,0,3,1126,63,20,49,8,21,...,19,13,2,23,0.408163,0.380952,0.625000,32,0.156250,0
100420,2022,98,0,19,1441,49,18,53,5,24,...,16,8,2,12,0.339623,0.208333,0.727273,32,0.312500,0
100421,2022,98,0,1,1181,68,22,52,6,17,...,14,3,9,11,0.423077,0.352941,0.818182,31,0.354839,0
100422,2022,98,0,27,1338,47,15,40,10,20,...,11,3,6,14,0.375000,0.500000,0.777778,26,0.000000,0

### Averages for Losing Team ID

In [67]:
# Grouping the DataFrame by 'Season' and 'LTeamID' and calculating the average
l_averages_df = df_losing.groupby(['Season', 'LTeamID']).agg({
    'LScore': 'mean',
    'LFGM': 'mean',
    'LFGA': 'mean',
    'LFGM3': 'mean',
    'LFGA3': 'mean',
    'LFTM': 'mean',
    'LFTA': 'mean',
    'LOR': 'mean',
    'LDR': 'mean',
    'LAst': 'mean',
    'LTO': 'mean',
    'LStl': 'mean',
    'LBlk': 'mean',
    'LPF': 'mean',
    'LFGPCT': 'mean',
    'L3PCT': 'mean',
    'LFTPCT': 'mean',
    'LORBCHANCE': 'mean',
    'LORPCT': 'mean',
    'SCOREDIFF': 'mean'
}).reset_index()

# Renaming columns to reflect they are averages
l_averages_df.columns = ['Season', 'LTeamID', 'average_LScore', 'average_LFGM', 'average_LFGA', 'average_LFGM3',
                       'average_LFGA3', 'average_LFTM', 'average_LFTA', 'average_LOR', 'average_LDR',
                       'average_LAst', 'average_LTO', 'average_LStl', 'average_LBlk', 'average_LPF',
                       'average_LFGPCT', 'average_L3PCT', 'average_LFTPCT', 'average_LORBCHANCE',
                       'average_LORPCT', 'average_SCOREDIFF']

# Displaying the resulting DataFrame
l_averages_df.head(5)

,Season,LTeamID,average_LScore,average_LFGM,average_LFGA,average_LFGM3,average_LFGA3,average_LFTM,average_LFTA,average_LOR,...,average_LTO,average_LStl,average_LBlk,average_LPF,average_LFGPCT,average_L3PCT,average_LFTPCT,average_LORBCHANCE,average_LORPCT,average_SCOREDIFF
0,2003,1102,48.625000,16.562500,39.625000,6.187500,20.250000,9.312500,14.375000,4.437500,...,11.687500,4.937500,1.000000,20.750000,0.424810,0.305953,0.650437,26.187500,0.165271,11.250000
1,2003,1103,70.428571,24.500000,56.285714,5.428571,17.642857,16.000000,21.142857,10.142857,...,12.714286,7.214286,2.785714,19.285714,0.435972,0.303355,0.747034,34.000000,0.294003,7.500000
2,2003,1104,60.909091,21.272727,55.363636,5.272727,18.363636,13.090909,18.454545,13.636364,...,13.636364,5.636364,3.181818,20.454545,0.381478,0.291478,0.698651,35.909091,0.377756,9.454545
3,2003,1105,68.947368,23.947368,61.526316,7.000000,20.157895,14.052632,20.421053,13.105263,...,18.894737,8.578947,2.105263,20.526316,0.389832,0.347824,0.697004,40.526316,0.317489,11.473684
4,2003,1106,59.533333,22.266667,56.533333,6.333333,19.133333,8.666667,12.733333,11.866667,...,16.466667,7.466667,2.600000,18.000000,0.394117,0.321348,0.650908,36.600000,0.323938,9.266667

### Averages for Winning Teams ID

In [68]:
# Grouping the DataFrame by 'Season' and 'LTeamID' and calculating the average
w_averages_df = df_winning.groupby(['Season', 'WTeamID']).agg({
    'WScore': 'mean',
    'WFGM': 'mean',
    'WFGA': 'mean',
    'WFGM3': 'mean',
    'WFGA3': 'mean',
    'WFTM': 'mean',
    'WFTA': 'mean',
    'WOR': 'mean',
    'WDR': 'mean',
    'WAst': 'mean',
    'WTO': 'mean',
    'WStl': 'mean',
    'WBlk': 'mean',
    'WPF': 'mean',
    'WFGPCT': 'mean',
    'W3PCT': 'mean',
    'WFTPCT': 'mean',
    'WORBCHANCE': 'mean',
    'WORPCT': 'mean',
    'SCOREDIFF': 'mean'
}).reset_index()

# Renaming columns to reflect they are averages
w_averages_df.columns = ['Season', 'WTeamID', 'average_WScore', 'average_WFGM', 'average_WFGA', 'average_WFGM3',
                       'average_WFGA3', 'average_WFTM', 'average_WFTA', 'average_WOR', 'average_WDR',
                       'average_WAst', 'average_WTO', 'average_WStl', 'average_WBlk', 'average_WPF',
                       'average_WFGPCT', 'average_W3PCT', 'average_WFTPCT', 'average_WORBCHANCE',
                       'average_WORPCT', 'average_SCOREDIFF']

# Displaying the resulting DataFrame
w_averages_df.head(5)

,Season,WTeamID,average_WScore,average_WFGM,average_WFGA,average_WFGM3,average_WFGA3,average_WFTM,average_WFTA,average_WOR,...,average_WTO,average_WStl,average_WBlk,average_WPF,average_WFGPCT,average_W3PCT,average_WFTPCT,average_WORBCHANCE,average_WORPCT,average_SCOREDIFF
0,2003,1102,68.750000,22.583333,40.000000,10.000000,21.583333,13.583333,20.750000,3.833333,...,11.083333,7.333333,2.833333,16.083333,0.567934,0.449882,0.631688,21.833333,0.172188,15.583333
1,2003,1103,87.769231,30.000000,55.384615,5.461538,14.384615,22.307692,30.923077,9.384615,...,12.538462,7.307692,1.846154,20.461538,0.542563,0.362828,0.722603,29.461538,0.318510,9.384615
2,2003,1104,74.705882,25.823529,58.352941,7.058824,20.823529,16.000000,22.529412,13.529412,...,13.058824,7.235294,4.176471,16.470588,0.444393,0.347418,0.709384,36.411765,0.367049,13.176471
3,2003,1105,79.428571,25.571429,61.857143,9.142857,22.428571,19.142857,25.714286,14.571429,...,18.000000,11.285714,2.000000,19.428571,0.413500,0.391674,0.743782,38.142857,0.383144,13.000000
4,2003,1106,68.307692,24.769231,53.846154,5.846154,15.923077,12.923077,20.769231,12.769231,...,17.692308,9.384615,3.769231,18.384615,0.461775,0.383482,0.591138,32.384615,0.378952,10.384615

## Renaming Columns to merge average stats together

In [100]:
l_averages_df.rename(columns={'LTeamID': 'TeamID'}, inplace=True)
w_averages_df.rename(columns={'WTeamID': 'TeamID'}, inplace=True)
average_merged_df = w_averages_df.merge(l_averages_df, on=['TeamID', 'Season'], how='left')
average_merged_df.columns

Index(['Season', 'TeamID', 'average_WScore', 'average_WFGM', 'average_WFGA',
       'average_WFGM3', 'average_WFGA3', 'average_WFTM', 'average_WFTA',
       'average_WOR', 'average_WDR', 'average_WAst', 'average_WTO',
       'average_WStl', 'average_WBlk', 'average_WPF', 'average_WFGPCT',
       'average_W3PCT', 'average_WFTPCT', 'average_WORBCHANCE',
       'average_WORPCT', 'average_SCOREDIFF_x', 'average_LScore',
       'average_LFGM', 'average_LFGA', 'average_LFGM3', 'average_LFGA3',
       'average_LFTM', 'average_LFTA', 'average_LOR', 'average_LDR',
       'average_LAst', 'average_LTO', 'average_LStl', 'average_LBlk',
       'average_LPF', 'average_LFGPCT', 'average_L3PCT', 'average_LFTPCT',
       'average_LORBCHANCE', 'average_LORPCT', 'average_SCOREDIFF_y'],
      dtype='object')

In [101]:
# Iterate over the list of columns and calculate the average
for column in average_merged_df.columns:
    if column.startswith('average_W'):
        # Extract the corresponding 'L' column name
        l_column_name = column.replace('average_W', 'average_L')
        
        # Calculate the average and assign it to a new column
        new_column_name = column.replace('average_W', 'average')
        average_merged_df[new_column_name] = (average_merged_df[column] + average_merged_df[l_column_name]) / 2

# Drop the original 'W' 'L' columns
w_columns_to_drop = [col for col in average_merged_df.columns if col.startswith('average_W')]
l_columns_to_drop = [col for col in average_merged_df.columns if col.startswith('average_L')]
columns_to_drop = w_columns_to_drop + l_columns_to_drop
average_merged_df.drop(columns=columns_to_drop, inplace=True)
average_merged_df['average_SCOREDIFF'] = (average_merged_df['average_SCOREDIFF_x'] + average_merged_df['average_SCOREDIFF_y']) / 2
# Drop 'average_SCOREDIFF_x' and 'average_SCOREDIFF_y' columns
average_merged_df.drop(columns=['average_SCOREDIFF_x', 'average_SCOREDIFF_y'], inplace=True)
average_merged_df

,Season,TeamID,averageScore,averageFGM,averageFGA,averageFGM3,averageFGA3,averageFTM,averageFTA,averageOR,...,averageTO,averageStl,averageBlk,averagePF,averageFGPCT,average3PCT,averageFTPCT,averageORBCHANCE,averageORPCT,average_SCOREDIFF
0,2003,1102,58.687500,19.572917,39.812500,8.093750,20.916667,11.447917,17.562500,4.135417,...,11.385417,6.135417,1.916667,18.416667,0.496372,0.377918,0.641063,24.010417,0.168729,13.416667
1,2003,1103,79.098901,27.250000,55.835165,5.445055,16.013736,19.153846,26.032967,9.763736,...,12.626374,7.260989,2.315934,19.873626,0.489268,0.333091,0.734818,31.730769,0.306256,8.442308
2,2003,1104,67.807487,23.548128,56.858289,6.165775,19.593583,14.545455,20.491979,13.582888,...,13.347594,6.435829,3.679144,18.462567,0.412936,0.319448,0.704018,36.160428,0.372403,11.315508
3,2003,1105,74.187970,24.759398,61.691729,8.071429,21.293233,16.597744,23.067669,13.838346,...,18.447368,9.932331,2.052632,19.977444,0.401666,0.369749,0.720393,39.334586,0.350317,12.236842
4,2003,1106,63.920513,23.517949,55.189744,6.089744,17.528205,10.794872,16.751282,12.317949,...,17.079487,8.425641,3.184615,18.192308,0.427946,0.352415,0.621023,34.492308,0.351445,9.825641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6878,2022,1468,67.323232,25.338384,54.833333,7.257576,22.070707,9.388889,12.590909,5.848485,...,9.590909,4.934343,1.666667,15.893939,0.464368,0.332614,0.751199,28.782828,0.197919,13.606061
6879,2022,1469,71.619048,24.946429,58.940476,6.851190,21.678571,14.875000,21.434524,8.821429,...,14.386905,6.017857,2.279762,20.053571,0.424275,0.313301,0.690098,34.571429,0.249973,15.380952
6880,2022,1470,64.812500,23.076923,54.634615,5.475962,16.923077,13.182692,17.846154,7.403846,...,10.009615,7.937500,2.115385,18.139423,0.425404,0.314923,0.720406,31.120192,0.235016,11.447115
6881,2022,1471,69.083333,23.062500,52.250000,8.354167,23.604167,14.604167,19.604167,4.750000,...,13.270833,5.500000,1.645833,15.145833,0.444064,0.356346,0.733650,29.229167,0.162667,11.770833
6882,2022,1472,76.485714,27.292857,59.742857,11.721429,30.678571,10.178571,12.750000,5.692857,...,7.642857,5.021429,1.235714,16.292857,0.457594,0.378470,0.801820,30.421429,0.186683,13.142857

# Jim Read THIS below

### Ok so now we have the season averages for each team from seasons 2003 - 2023... now we need to create an XGBoost model for each one of these... we also need to see who they are playing... so what im thinking for XG Boost is have teamID_1 and TeamID_2 dataframe structure kind of how he does it below in Predicting Winner... and then we will feed the XGBoost model two different dfs to keep it clean

# Bring in the tournament dataframes so we know who is playing who

In [102]:
# To say who is playing who

## Create the XG Boost Model here... feed it two dfs I think so it can say "ok this team is playing this team and here are the average season stats for each" (team1_id team_2 id)

In [ ]:
# For XGBoost

# Predicting Winner

In [10]:
def predict_winner(team1_id, team2_id, elo_df):
    elo1 = elo_df.loc[elo_df['TeamID'] == team1_id, 'EloRating'].iloc[0]
    elo2 = elo_df.loc[elo_df['TeamID'] == team2_id, 'EloRating'].iloc[0]
    return team1_id if elo1 > elo2 else team2_id

# Simulate Tourney

In [11]:
def simulate_tournament(seeds_df, slots_df):
    slot_winners = {}   # Initialize a dictionary to store winners of each slot
    for _, row in slots_df.iterrows():
        slot = row['Slot'] # Identify the current slot
        
        # Round 1 uses direct seeds; subsequent rounds use winners from previous rounds
        if row['Slot'].startswith('R1'):
            strong_team_seed = row['StrongSeed']
            weak_team_seed = row['WeakSeed']
        else:
            strong_team_seed = slot_winners.get(row['StrongSeed'])
            weak_team_seed = slot_winners.get(row['WeakSeed'])

        # Get team IDs and predict the winner
        strong_team_id = seeds_df.loc[seeds_df['Seed'] == strong_team_seed, 'TeamID'].iloc[0]
        weak_team_id = seeds_df.loc[seeds_df['Seed'] == weak_team_seed, 'TeamID'].iloc[0]
        winner_id = predict_winner(strong_team_id, weak_team_id, seeds_df)
        winner_seed = seeds_df.loc[seeds_df['TeamID'] == winner_id, 'Seed'].iloc[0]
        slot_winners[slot] = winner_seed

    return slot_winners

In [12]:
def calculate_elo_ratings(games_df, tournament_type):
  
    team_ratings = {team: 1500 for team in set(games_df['WTeamID']).union(games_df['LTeamID'])}
    for _, row in games_df.iterrows():
        w_rating, l_rating = team_ratings[row['WTeamID']], team_ratings[row['LTeamID']]
        team_ratings[row['WTeamID']], team_ratings[row['LTeamID']] = update_elo(w_rating, l_rating)
    
    return pd.DataFrame(list(team_ratings.items()), columns=['TeamID', 'EloRating'])

# Elo with Seeds Merge

In [13]:
def merge_elo_with_seeds(seeds_df, elo_df):
    
    seeds_df = seeds_df.copy()
    seeds_df['TeamID'] = seeds_df['TeamID'].astype(int)
    return pd.merge(seeds_df, elo_df, on='TeamID', how='left')

# Prepare Submission Data

In [14]:
def prepare_submission_data(winners, tournament_type, start_row_id=1):
    submission_data = []
    row_id = start_row_id

    for slot, winner_seed in winners.items():
        game_data = {
            'RowId': row_id,
            'Tournament': tournament_type,
            'Bracket': 1,  # Assuming a single bracket simulation
            'Slot': slot,
            'Team': winner_seed
        }
        submission_data.append(game_data)
        row_id += 1

    return submission_data, row_id

In [27]:
df_games = pd.read_csv('MRegularSeasonCompactResults.csv')
df_games_w = pd.read_csv('WRegularSeasonCompactResults.csv')
df_seeds = pd.read_csv('2024_tourney_seeds.csv')
round_slots = pd.read_csv('MNCAATourneySlots.csv')
round_slots_w = pd.read_csv('WNCAATourneySlots.csv')

In [16]:
round_slots = round_slots.loc[(round_slots['Season'] == 2023) & (round_slots['Slot'].str.startswith('R'))]
round_slots_w = round_slots_w.loc[(round_slots_w['Season'] == 2023) & (round_slots_w['Slot'].str.startswith('R'))]

In [17]:
# Calculate and merge Elo ratings for Men's
elo_df_m = calculate_elo_ratings(df_games[df_games['Season'] == 2024], 'M')
df_seeds_m = merge_elo_with_seeds(df_seeds[df_seeds['Tournament'] == 'M'], elo_df_m)

In [18]:
df_seeds_m

   Tournament Seed  TeamID EloRating
0           M  W01    1163       NaN
1           M  W02    1235       NaN
2           M  W03    1228       NaN
3           M  W04    1120       NaN
4           M  W05    1361       NaN
..        ...  ...     ...       ...
59          M  Z12    1241       NaN
60          M  Z13    1436       NaN
61          M  Z14    1324       NaN
62          M  Z15    1443       NaN
63          M  Z16    1255       NaN

[64 rows x 4 columns]

In [19]:
elo_df_w = calculate_elo_ratings(df_games_w[df_games_w['Season'] == 2024], 'W')
df_seeds_w = merge_elo_with_seeds(df_seeds[df_seeds['Tournament'] == 'W'], elo_df_w)

In [20]:
df_seeds_w

   Tournament Seed  TeamID    EloRating
0           W  W01    3376  1748.987147
1           W  W02    3323  1671.874515
2           W  W03    3333  1634.865307
3           W  W04    3231  1643.106096
4           W  W05    3328  1620.747124
..        ...  ...     ...          ...
59          W  Z12    3162  1634.279877
60          W  Z13    3267  1649.148242
61          W  Z14    3238  1619.738361
62          W  Z15    3263  1611.326898
63          W  Z16    3394  1584.088173

[64 rows x 4 columns]

# Simulating Tournament

In [21]:
men_winners = simulate_tournament(df_seeds_m, round_slots)
women_winners = simulate_tournament(df_seeds_w, round_slots_w)

In [22]:
# Start with RowId 1 for Men's tournament
men_submission_data, next_row_id = prepare_submission_data(men_winners, 'M', 1)

# Continue with the next RowId for Women's tournament
women_submission_data, _ = prepare_submission_data(women_winners, 'W', next_row_id)

# Combine Men's and Women's submission data
combined_submission_data = men_submission_data + women_submission_data

# Converting to DF

In [23]:
# Convert to DataFrame
df_submission = pd.DataFrame(combined_submission_data)
df_submission.to_csv('submission.csv', index=False)

In [24]:
df_submission

     RowId Tournament  Bracket  Slot Team
0        1          M        1  R1W1  W16
1        2          M        1  R1W2  W15
2        3          M        1  R1W3  W14
3        4          M        1  R1W4  W13
4        5          M        1  R1W5  W12
..     ...        ...      ...   ...  ...
121    122          W        1  R4Y1  Y10
122    123          W        1  R4Z1  Z03
123    124          W        1  R5WX  W01
124    125          W        1  R5YZ  Y10
125    126          W        1  R6CH  W01

[126 rows x 5 columns]