This is a test for our project

In [3]:
import os
import pandas as pd

# # Specify the folder where your CSV files are located
# #folder_path = '/Users/joshmccoy/Desktop/NCAA_March_Madness/march-machine-learning-mania-2023/ImportantCSVs'
# folder_path = '/Users/jimhaines/Desktop/Extra\ 1/CAPSTONE/CapstoneProject/mens-march-mania-2022/MDataFiles_Stage1'

# # Initialize an empty dictionary to store DataFrames with their file names as keys
# dataframes = {}

# # Iterate through all files in the folder
# for filename in os.listdir(folder_path):
#     if filename.endswith(".csv"):
#         file_path = os.path.join(folder_path, filename)
#         try:
#             # Try different encodings until one works
#             df = pd.read_csv(file_path, encoding='utf-8')
#         except UnicodeDecodeError:
#             try:
#                 df = pd.read_csv(file_path, encoding='latin1')
#             except:
#                 df = pd.read_csv(file_path, encoding='ISO-8859-1')
        
#         # Use the file name (without the .csv extension) as the DataFrame's name/key
#         dataframe_name = os.path.splitext(filename)[0]
#         dataframes[dataframe_name] = df

# # Now, you have a dictionary where keys are the CSV file names (without .csv extension)
# # and values are the corresponding DataFrames for all CSV files in the folder.

In [4]:
# Access the "MRegularSeasonDetailedResults" DataFrame from the dictionary
m_regular_season_df = dataframes.get("MRegularSeasonDetailedResults")
m_regular_season_df

# Now, you have the "m_regular_season_df" DataFrame that corresponds to the "MRegularSeasonDetailedResults.csv" file

In [8]:
file = 'Cities.csv'
df = pd.read_csv(file)
df

     CityID                 City State
0      4001              Abilene    TX
1      4002                Akron    OH
2      4003               Albany    NY
3      4004          Albuquerque    NM
4      4005            Allentown    PA
..      ...                  ...   ...
458    4481  San Juan Capistrano    CA
459    4482             St. Paul    MN
460    4483               Canyon    TX
461    4484               Naples    FL
462    4485           Santa Cruz    CA

[463 rows x 3 columns]